.location-info {
  display: flex;
  flex-direction: column;
  padding-right: 12px;

  .city {
    font-weight: bold;
    font-size: 38px;
  }

  .date {
    font-size: 20px;
  }

  .address {
    font-size: 14px;
    font-weight: lighter;
  }
}
